/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 100%; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; padding-left: 10px; padding-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { padding-left: 0; }
    .column.omega, .columns.omega               { padding-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 4%;  }
    .container .two.columns                     { width: 10%; }
    .container .three.columns                   { width: 16%; }
    .container .four.columns                    { width: 22%; }
    .container .five.columns                    { width: 28%; }
    .container .six.columns                     { width: 34%; }
    .container .seven.columns                   { width: 40%; }
    .container .eight.columns                   { width: 46%; }
    .container .nine.columns                    { width: 52%; }
    .container .ten.columns                     { width: 58%; }
    .container .eleven.columns                  { width: 64%; }
    .container .twelve.columns                  { width: 70%; }
    .container .thirteen.columns                { width: 76%; }
    .container .fourteen.columns                { width: 82%; }
    .container .fifteen.columns                 { width: 88%; }
    .container .sixteen.columns                 { width: 100%; }

    .container .one-third.column                { width: 32%; }
    .container .two-thirds.column               { width: 66%; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 6%;  }
    .container .offset-by-two                   { padding-left: 12%; }
    .container .offset-by-three                 { padding-left: 18%; }
    .container .offset-by-four                  { padding-left: 24%; }
    .container .offset-by-five                  { padding-left: 30%; }
    .container .offset-by-six                   { padding-left: 36%; }
    .container .offset-by-seven                 { padding-left: 42%; }
    .container .offset-by-eight                 { padding-left: 48%; }
    .container .offset-by-nine                  { padding-left: 54%; }
    .container .offset-by-ten                   { padding-left: 60%; }
    .container .offset-by-eleven                { padding-left: 66%; }
    .container .offset-by-twelve                { padding-left: 72%; }
    .container .offset-by-thirteen              { padding-left: 78%; }
    .container .offset-by-fourteen              { padding-left: 84%; }
    .container .offset-by-fifteen               { padding-left: 100%; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 100%; }
        .container .column,
        .container .columns                         { padding-left: 10px; padding-right: 10px;  }
        .column.alpha, .columns.alpha               { padding-left: 0; padding-right: 10px; }
        .column.omega, .columns.omega               { padding-right: 0; padding-left: 10px; }
        .alpha.omega                                { padding-left: 0; padding-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 2.8%; }
        .container .two.columns                     { width: 7.6%; }
        .container .three.columns                   { width: 12.4%; }
        .container .four.columns                    { width: 17.2%; }
        .container .five.columns                    { width: 22%; }
        .container .six.columns                     { width: 26.8%; }
        .container .seven.columns                   { width: 31.6%; }
        .container .eight.columns                   { width: 36.4%; }
        .container .nine.columns                    { width: 41.2%; }
        .container .ten.columns                     { width: 46%; }
        .container .eleven.columns                  { width: 50.8%; }
        .container .twelve.columns                  { width: 55.6%; }
        .container .thirteen.columns                { width: 60.4%; }
        .container .fourteen.columns                { width: 65.2%; }
        .container .fifteen.columns                 { width: 70%; }
        .container .sixteen.columns                 { width: 100%; }

        .container .one-third.column                { width: 23.6%; }
        .container .two-thirds.column               { width: 49.2%; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 4.8%; }
        .container .offset-by-two                   { padding-left: 9.6%; }
        .container .offset-by-three                 { padding-left: 14.4%; }
        .container .offset-by-four                  { padding-left: 19.2%; }
        .container .offset-by-five                  { padding-left: 24%; }
        .container .offset-by-six                   { padding-left: 28.8%; }
        .container .offset-by-seven                 { padding-left: 33.6%; }
        .container .offset-by-eight                 { padding-left: 38.4%; }
        .container .offset-by-nine                  { padding-left: 43.2%; }
        .container .offset-by-ten                   { padding-left: 48%; }
        .container .offset-by-eleven                { padding-left: 52.8%; }
        .container .offset-by-twelve                { padding-left: 57.6%; }
        .container .offset-by-thirteen              { padding-left: 62.4%; }
        .container .offset-by-fourteen              { padding-left: 67.2%; }
        .container .offset-by-fifteen               { padding-left: 100%; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 100%; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 100%; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 100%; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 100%; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
